<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="w-50 mx-auto">
                <form name="form-signin" method="post" action="/login ">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <h2 class="form-signin-heading"><b> Please sign in</b></h2>
                    <br/>
                    <label for="username" class="sr-only">Enter the username:</label>
                    <input type="text" name="username" id="username" class="form-control"
                           placeholder="Enter name" required autofocus/>
                    <label  for="password" class="sr-only">Enter the password:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                           required autofocus/>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>