<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin Panel</title>
</head>
<body>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-12 bg-dark text-white">
            <nav class="navbar navbar-dark bg-dark">
                <nav class="navbar-brand text-white">
                    <a class="navbar-brand" href="#">
                        <span th:text="${user.getEmail()}"></span>
                        with roles:
                        <span th:text="${user.getRoles() }"></span>
                    </a>
                </nav>
                <a class="btn btn-link text-secondary " aria-current="page" href="/login">Logout</a>
            </nav>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-2 bg-white">
        <ul class="nav flex-column nav-pills ">
            <li class="nav-item">
                <a class="nav-link active" role="tab" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " role="tab" aria-controls="v-pills-profile" aria-selected="false" href="/user">User</a>
            </li>
        </ul>
    </div>

    <div class="col-md-10">
        <h2>Admin panel</h2>
        <div class="card text-center">
            <div class="card-head">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="all-users-tab" role="tab" data-bs-toggle="tab"
                           aria-current="page" href="#UserTable">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" data-bs-toggle="tab" href="#NewUser">New User</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" th:id="UserTable">
                <table class="table table-borderless">
                    <nav class="navbar navbar-light bg-light">
                        <h4>All users</h4>
                    </nav>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody id="tableBodyAdmin">
                    </tbody>
                </table>

                <div class="modal fade" th:id="'editModal' " tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit user</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <form id="editModal">
                                    <div class="form-group">
                                        <label for="editId" class="col-form-label "><b>ID</b></label>
                                        <input type="text" name="id" readonly
                                               class="form-control"
                                               id="editId">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="editName" class="col-form-label"><b>First name</b></label>
                                        <input type="text" name="name"
                                               class="form-control" id="editName">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="editLastName" class="col-form-label"><b>Last name</b></label>
                                        <input type="text"
                                               class="form-control"
                                               id="editLastName"
                                               name="lastName">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="editAge" class="col-form-label"><b>Age</b></label>
                                        <input type="number" name="age"
                                               class="form-control" id="editAge">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="editEmail" class="col-form-label"><b>Email</b></label>
                                        <input type="text" name="email"
                                               class="form-control" id="editEmail">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="editPassword" class="col-form-label"><b>Password</b></label>
                                        <input type="password" name="password" class="form-control"
                                               id="editPassword">
                                    </div>
                                    <br>

                                    <div class="form-group"
                                         style=" text-align: center">
                                        <label for="editRoles"><b>Role</b></label>
                                        <select multiple class="form-control"
                                                name="roles" size="2"
                                                id="editRoles"
                                        >
                                            <option selected="selected"
                                                    value="1">USER
                                            </option>
                                            <option value="2">ADMIN</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                id="editClose">
                                            Close
                                        </button>
                                        <button type="button" class="btn btn-primary" id="editBtn"
                                                onclick="editUser()">Edit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" th:id="'deleteModal' " tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title">Delete user</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body ">
                                <form class="text-center" id="modalDelete">
                                    <div class="form-group">
                                        <label for="deleteId" class="col-form-label "><b>ID</b></label>
                                        <input type="text" placeholder="*{id}"
                                               class="form-control" id="deleteId"
                                        >
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="deleteName" class="col-form-label"><b>First
                                            name</b></label>
                                        <input type="text" readonly class="form-control"
                                               id="deleteName">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="deleteLastName" class="col-form-label"><b>Last name</b></label>
                                        <input type="text" readonly
                                               class="form-control"
                                               id="deleteLastName">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="deleteAge" class="col-form-label"><b>Age</b></label>
                                        <input type="text" readonly class="form-control"
                                               id="deleteAge">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="deleteEmail" class="col-form-label"><b>Email</b></label>
                                        <input type="text" readonly
                                               class="form-control"
                                               id="deleteEmail">
                                    </div>
                                    <br>
                                    <div class="form-group"
                                         style=" text-align: center">
                                        <label for="deleteRole"><b>Role</b></label>
                                        <select multiple class="form-control"
                                                name="roles" size="2"
                                                id="deleteRole"
                                        >
                                            <option selected="selected"
                                                    value="1">USER
                                            </option>
                                            <option value="2">ADMIN</option>
                                        </select>
                                    </div>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                        id="closeDelete">
                                    Close
                                </button>
                                <button type="button" class="btn btn-danger" id="deleteBtn"
                                        onclick="deleteUser();">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            <div6 class="d-flex justify-content-center align-items-center container">-->
            <!--                <div1 class="row">-->
            <!--                    <div class="my-4">-->
            <!--                        <div class="p-3 border bg-highlight">-->

            <div class="tab-pane fade" th:id="NewUser" role="tabpanel" aria-labelledby="all-users-tab">
                <h4>Add New User</h4>
                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                        <div class="card text-center" style="width: 22rem;">
                            <div class="card-body text-center">
                                <form id="newUserForm">
                                    <label class="col-form-label" for="newName"><b>First name</b></label>
                                    <input type="text" class="form-control" name="name" id="newName">
                                    <br>
                                    <label for="newLastName"><b>Last name</b></label>
                                    <input type="text" class="form-control" name="LastName" id="newLastName">
                                    <br>
                                    <label for="newAge"><b>Age</b></label>
                                    <input type="number" class="form-control" name="age" id="newAge">
                                    <br>
                                    <label for="newEmail"><b>Email</b></label>
                                    <input type="email" class="form-control" name="email" id="newEmail">
                                    <br>
                                    <label for="newPassword "><b>Password</b></label>
                                    <input type="password" class="form-control" name="password" id="newPassword ">
                                    <br>
                                    <div class="form-group"
                                         style=" text-align: center">
                                        <label for="newRole"><b>Role</b></label>
                                        <select multiple class="form-control"
                                                name="roles" size="2"
                                                id="newRole">
                                            <option selected="selected"
                                                    value="1">USER
                                            </option>
                                            <option value="2">ADMIN</option>
                                        </select>
                                    </div>
                                    <br>
                                    <div>
                                        <button type="submit" class="btn btn-lg btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/admin.js"></script>
</body>
</html>