<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin Panel</title>
</head>
<body>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-12 bg-dark text-white">
            <nav class="navbar navbar-dark bg-dark">
                <nav class="navbar-brand text-white">
                    <a class="navbar-brand" href="#">
                        <span th:text="${user.getEmail()}"></span>
                        with roles:
                        <span th:text="${user.getRoles() }"></span>
                    </a>
                </nav>
                <a class="btn btn-link text-secondary " aria-current="page" href="/login">Logout</a>
            </nav>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-2 bg-white">
        <ul class="nav flex-column nav-pills ">
            <li class="nav-item">
                <a class="nav-link active" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/admin/showUser">User</a>
            </li>
        </ul>
    </div>

    <div class="col-md-10">
        <h2>Admin panel</h2>
        <div class="card text-center">
            <div class="card-head">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" role="tab" data-bs-toggle="tab"
                           aria-current="page" href="#UserTable">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="tab" data-bs-toggle="tab" href="#NewUser">New User</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" th:id="UserTable">
                <table class="table table-borderless">
                    <nav class="navbar navbar-light bg-light">
                        <h4>All users</h4>
                    </nav>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:utext="${user.getId()}">id</td>
                        <td th:utext="${user.getName()}">name</td>
                        <td th:utext="${user.getLastName()}">lastName</td>
                        <td th:utext="${user.getAge()}">age</td>
                        <td th:utext="${user.getEmail()}">email</td>
                        <td th:utext="${user.getRoles()}">roles</td>
                        <td>
                            <button class="btn btn-info " type="button" data-bs-toggle="modal"
                                    th:data-bs-target="'#editModal' + ${user.getId()}">Edit
                            </button>
                        </td>
                        <div class="modal fade" th:id="'editModal' + ${user.getId()}" tabindex="-1"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit user</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <form th:method="PATCH"
                                              th:action="@{/admin/{id}(id=${user.getId()})}"
                                              th:object="${user}">
                                            <div class="form-group">
                                                <label for="id" class="col-form-label "><b>ID</b></label>
                                                <input type="text" placeholder="*{id}" th:name="id" readonly
                                                       th:value="${user.id}"
                                                       class="form-control"
                                                       id="id">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="First name" class="col-form-label"><b>First name</b></label>
                                                <input type="text" th:value="${user.name}" th:name="name"
                                                       class="form-control" id="First name">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="Last name" class="col-form-label"><b>Last name</b></label>
                                                <input type="text" th:value="${user.lastName}" th:name="lastName"
                                                       class="form-control"
                                                       id="Last name">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="age" class="col-form-label"><b>Age</b></label>
                                                <input type="number" th:value="${user.age}" th:name="age"
                                                       class="form-control" id="age">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="email" class="col-form-label"><b>Email</b></label>
                                                <input type="text" th:value="${user.email}" th:name="email"
                                                       class="form-control" id="email">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="password" class="col-form-label"><b>Password</b></label>
                                                <input type="password" th:name="password" class="form-control"
                                                       id="password">
                                            </div>
                                            <br>
                                            <!--                                    <div class="form-group">-->
                                            <!--                                        <label for="roles" class="col-form-label"><b>Role</b></label>-->
                                            <!--                                        <select size="2" id="roles" multiple name="roles">-->
                                            <!--                                            <option value="1">USER</option>-->
                                            <!--                                            <option selected="selected" value="2">ADMIN</option>-->
                                            <!--                                        </select>-->
                                            <!--                                    </div>-->
                                            <div class="form-group"
                                                 style=" text-align: center">
                                                <label for="roles"><b>Role</b></label>
                                                <select multiple class="form-control"
                                                        name="roles" size="2"
                                                        id="roles"
                                                        th:value="${user.roles}">
                                                    <option selected="selected"
                                                            value="1">USER
                                                    </option>
                                                    <option value="2">ADMIN</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:data-bs-target="'#modalDelete'+${user.getId()}">Delete
                            </button>
                        </td>
                        <div class="modal fade" th:id="'modalDelete' + ${user.getId()}" tabindex="-1"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}"
                                          th:object="${user}">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <div class="form-group">
                                                <label for="id1" class="col-form-label "><b>ID</b></label>
                                                <input type="text" placeholder="*{id}" readonly th:value="${user.id}"
                                                       class="form-control" id="id1"
                                                >
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="First name1" class="col-form-label"><b>First
                                                    name</b></label>
                                                <input type="text" th:value="${user.name}" readonly class="form-control"
                                                       id="First name1">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="Last name1" class="col-form-label"><b>Last name</b></label>
                                                <input type="text" th:value="${user.lastName}" readonly
                                                       class="form-control"
                                                       id="Last name1">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="age1" class="col-form-label"><b>Age</b></label>
                                                <input type="text" th:value="${user.age}" readonly class="form-control"
                                                       id="age1">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="email1" class="col-form-label"><b>Email</b></label>
                                                <input type="text" th:value="${user.email}" readonly
                                                       class="form-control"
                                                       id="email1">
                                            </div>
                                            <br>
                                            <div class="form-group"
                                                 style=" text-align: center">
                                                <label for="roles2"><b>Role</b></label>
                                                <select multiple class="form-control"
                                                        name="roles" size="2"
                                                        id="roles2"
                                                        th:value="${user.roles}">
                                                    <option selected="selected"
                                                            value="1">USER
                                                    </option>
                                                    <option value="2">ADMIN</option>
                                                </select>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
<!--            <div6 class="d-flex justify-content-center align-items-center container">-->
<!--                <div1 class="row">-->
<!--                    <div class="my-4">-->
<!--                        <div class="p-3 border bg-highlight">-->

            <div class="tab-pane fade" th:id="NewUser">
                <h4>Add New User</h4>
                <div class="d-flex justify-content-center align-items-center container">
                <div class="row">
                <div class="card text-center" style="width: 22rem;">
                    <div class="card-body text-center">
                        <form th:method="post" th:action="@{/admin/saveUser}" th:object="${user}">
                            <label class="col-form-label" for="First name new"><b>First name</b></label>
                            <input type="text" class="form-control" name="name" id="First name new">
                            <br>
                            <label for="Last name new"><b>Last name</b></label>
                            <input type="text" class="form-control" name="LastName" id="Last name new">
                            <br>
                            <label for="age new"><b>Age</b></label>
                            <input type="number" class="form-control" name="age" id="age new">
                            <br>
                            <label for="email new"><b>Email</b></label>
                            <input type="email" class="form-control" name="email" id="email new">
                            <br>
                            <label for="password new"><b>Password</b></label>
                            <input type="password" class="form-control" name="password" id="password new">
                            <br>
                            <div class="form-group"
                                 style=" text-align: center">
                                <label for="roles3"><b>Role</b></label>
                                <select multiple class="form-control"
                                        name="roles" size="2"
                                        id="roles3"
                                        th:value="${user.roles}">
                                    <option selected="selected"
                                            value="1">USER
                                    </option>
                                    <option value="2">ADMIN</option>
                                </select>
                            </div>
                            <br>
                            <div>
                                <button type="submit" class="btn btn-lg btn-success">Add new user</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>